@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff") format("woff2"),
    url("./fonts/Montserrat-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: black;
  color: white;
  font-family: Montserrat;
}

/* Mobile */
@media (max-width: 500px) {
}

/* Tablet */
@media (max-width: 1000px) {
}

/* Desktop */
@media (min-width: 1000px) {
}
